h1 {
  color: red;
  font-size:40px;
  background-color:green;
  font-family:serif;
}
img{
  height:200px;
  width:250px;
}
p {
  color: green;
  font-size:20px;
  font-family: "lucida grande"
}
.selected {
  color:red;
}
.menu {
  float: left;
}
