.menu-primer{
    background-color:rgb(28, 121, 28); 
}
.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px;
}
.menu-primer a {
    color: #0c0808;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
  
} 
.menu-primer a:hover {
    background-color: #0bec1e;
    color: #000000;
    text-decoration: none;
}
.marquee {
    background-color: #333;
    color: aqua;

}
.contents-item {
    float: left;
    margin-right: 40px;
}
