h1 {
  color: red;
  font-size:40px;
  background-color:green;
  font-family:serif;
}
img{
  height:200px;
  width:250px;
}
p {
  color: green;
  font-size:20px;
  font-family: "lucida grande"
}
.selected {
  color:red;
}
li {
  list-style: none;
  float: left;
  padding: 20px 10px;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 10px;
}
.footer {
  background-color: green;
  height: 270px;
}
.footer-logo{
  font-size:32px;
  float:left;
}
.footer-list{
  float:right;
}
.footer-list li{
  padding-bottom:20px;
}
  
